.box1{
    background-color:grey;
}

.box2{
    background-color: darkcyan;
}

.box3{
    background-color: blue;
}

.box4{
    background-color: olivedrab;
}
.box5{
    background-color: darkgreen;
}
.box5{
    background-color: violet;
}
.box6{
    background-color: magenta;
}
.box7{
    background-color: darkblue;
}